
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://st2.depositphotos.com/3570295/7744/i/450/depositphotos_77446716-stock-photo-view-of-city-night-abstract.jpg');
    background-size: cover; /* Make sure the image covers the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    
  }
  
  .form-container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: -100px;
  }
  
  .form-container h2 {
    text-align: center;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container label {
    margin-bottom: 5px;
  }
  
  .form-container input[type="email"],
  .form-container input[type="password"],
  .form-container input[type="text"],
  .form-container input[type="tel"]{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
  }
  
  .form-container input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: orange;
    color: white;
    cursor: pointer;
  }
  
  .form-container input[type="submit"]:hover {
    background-color: #ff8c00; /* Lighter shade of orange */
  }
  